<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Nome" labelPlacement="floating" placeholder="Digite um nome completo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="E-mail" type="email" labelPlacement="floating" placeholder="Digite um e-mail valido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Senha" type="passoword" labelPlacement="floating" placeholder="Digite uma Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Confirmar Senha" labelPlacement="floating" placeholder="Repita a sua Senha"></ion-input>
  </ion-item>

  <ion-button expand="full" color="success">SALVAR</ion-button>
  <ion-button expand="full" fill="clear" color="dark">VOLTAR</ion-button>

</ion-content>
